
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="#">
      <img src="../../assets/ARlogo.svg" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" 
           routerLink="/">Home <span class="sr-only">(current)</span>
          </a>
          <a class="nav-item nav-link active" 
              routerLink="/editor">
              Edit
          </a>
          <ul *appShowAuthed="false">
             <li>
               <a class="nav-item nav-link" 
               routerLink="/register">
                  Sign Up
                  </a>
             </li>
             <li>
               <a class="nav-item nav-link" 
                  routerLink="/login">
                  Log In
               </a>
             </li>
          </ul>  

          <ul *appShowAuthed="true">
            <a (click)="logOut()" class="nav-item nav-link">
              Log out
            </a>
          </ul>
        
          <a class="nav-item nav-link disabled" href="#">Disabled</a>
          <div class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 Browse
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
           </div>
           <nav class="navbar navbar-dark bg-dark">
              <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
            </nav>
         </div>
      </div>
</nav>

