<mat-card>
    <mat-card-header>
        <mat-card-title>Test</mat-card-title>
    </mat-card-header>
    <a [routerLink]="['/recipe', recipe.slug]" class="preview-link">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo">
    </a>
    <mat-card-actions>
            <app-favorite-button
            [recipe]="recipe"
            (toggle)="onToggleFavorite($event)"
            class="pull-xs-right">
           
        </app-favorite-button>
        {{ recipe.favoritesCount }}
    </mat-card-actions>
</mat-card>




