<div class='cards-container'>
  <mat-card class="card-recepie" id='card' fxLayout="column" fxLayoutAlign="space-between center" >
    <!-- <img src="../../../assets/imgs/recepie1.png" class="img-food-preview"> -->
    <div class="preview-header">
      <i class="material-icons btn-play">play_circle_outline</i>
    </div>
    <div class="preview-footer"  fxLayout="row" fxLayoutAlign="space-between end" >
      <div fxLayout="row">
          <i class="material-icons btn-like">favorite_border</i>
          <span class="footer-text">69</span>
      </div>

      <div>
        <span class="footer-text">33 min.</span>
      </div>

    </div>
  </mat-card>
  <div class="text-under">
    Reteta lu Marean: 5 ingrediente pentru un mic dejun al oamenilor de succes
  </div>
</div>





