
<mat-nav-list>
    <ul class="navigation">
        <li>
            <a mat-list-item routerLink="/" (click)="onSidenavClose()">
                Recipes
            </a>
        </li>
        <li>
            <a mat-list-item (click)="isAuth ? false : openDialog('login')" routerLink="/editor" (click)="onSidenavClose()">
                Edit
            </a>
        </li>
        <li>
            <a mat-list-item routerLink="/categories" (click)="onSidenavClose()">
                Categories
            </a>
            <ul>
                <li> 
                    <a mat-list-item routerLink="/categories/American" (click)="onSidenavClose()">
                        American
                    </a>
                </li>
                <li> 
                    <a mat-list-item routerLink="/categories/Breakfast" (click)="onSidenavClose()">
                        Breakfast
                    </a>
                </li>
                <li>
                    <a mat-list-item routerLink="/categories/Italian" (click)="onSidenavClose()">
                        Italian
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</mat-nav-list>