<div class='cards-container' [routerLink]="['/categories', category.title.toLowerCase()]">
        <mat-card class="card-recepie" id='card'  [ngStyle]="{'background-image': 'url(' + category.image + ')'}" fxLayout="column" fxLayoutAlign="space-between center" >
          <!-- <img src="../../../assets/imgs/recepie1.png" class="img-food-preview"> -->

          <div class="preview-footer"  fxLayout="row" fxLayoutAlign="center end" >
              <span class="footer-text">{{category.title}}</span>
          </div>
        </mat-card>
</div>
