

  <form fxFlex fxLayout="column"  [formGroup]="recipeForm" (ngSubmit)="submitForm()">
    <mat-form-field>
        <input matInput placeholder="URL Image" formControlName="image">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Title" formControlName="title">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Prep Time" formControlName="prep-time">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Cook Time" formControlName="cook-time">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Servings" formControlName="servings">
    </mat-form-field>
    
    <mat-form-field>
        <textarea matInput rows="5" cols="40" placeholder="Description" formControlName="description"></textarea>
    </mat-form-field>

    <mat-form-field>
        <textarea matInput placeholder="Ingredients one" formControlName="ingredients"></textarea>
    </mat-form-field>
    <button type="submit" mat-button>Submit</button>
</form>
