a {
    text-decoration: none;
    color: black;
    font-family: 'Oswald', sans-serif;
}
 
a:hover, a:active{
    text-decoration: underline;
}
 
.navigation-items{
    list-style-type: none;
    padding: 50;
    margin: 0;
}

.mat-toolbar {
    height: 80px;
  }

.row2 {
    height: 222px;
}
 
@media(max-width: 959px){
    mat-toolbar{
        border-radius: 0px;
    }
}

