a {
    text-decoration: none;
    color: black;
    font-family: 'Oswald', sans-serif;
}
 
a:hover, a:active{
    text-decoration: underline;
}
 
.navigation-items{
    list-style-type: none;
    padding: 50;
    margin: 0;
}

.mat-toolbar {
   
  }
#row1 {
    height: 50px;
}
#row2 {
    display: none;
    height: 200px;
    
}

.plMenuCSS { 
    background-color:lightgreen;
    display: inline-block;
    min-width:500px;
}

 
@media(max-width: 959px){
    mat-toolbar{
        border-radius: 0px;
    }
}

