
mat-toolbar {
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 1;
}
a {
    text-decoration: none;
    color: black;
    font-family: 'Oswald', sans-serif;
}
 
a:hover, a:active{
    text-decoration: underline;
}
 
.navigation-items{
    list-style-type: none;
    padding: 50;
    margin: 0;
}

#ima {
    height: 30px;
    width: 30px;
}
#row1 {
    height: 50px;
}
#row2 {
    display: none !important;
    margin: auto;
    width: 50%;
    height: 200px;
}
#recipes {
    width: 100px;
    height: 100px;
    display: inline-block;
    position: absolute;
}

.plMenuCSS { 
    background-color:lightgreen;
    display: inline-block;
    min-width:500px;
}
.dropdown {
    position: relative;
    display: inline-block;
    float:left;
  }
  
  .dropdown-content {
    display: none;
    width: 100vw;
    position:absolute;
    background-color: white;
    left:0px;
  }
  .dropdown:hover .dropdown-content {
    display: block;
    position: absolute;
   float: left;
  }
@media(max-width: 959px){
    mat-toolbar{
        border-radius: 0px;
    }
}

