
<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
<mat-toolbar color="white">
    <mat-toolbar-row id="row1">
        <div fxHide.gt-xs>
            <button mat-icon-button (click)="onToggleSidenav()">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
        <div>
            <a routerLink="/">
            <img src="../../assets/ARlogo.svg" alt="Logo">
            </a>
        </div>
        <div  fxHide fxShow.gt-xs style="width:100%;">
            <ul fxFlex fxLayout fxLayoutAlign="start" fxLayoutGap="3vw" class="navigation-items">
                <li>
                    <a routerLink="/">Recipes</a>
                </li>

                <li>
                    <a routerLink="/editor">Edit</a>
                </li>
                <li>
                 <a (mouseover)="showCategories()" (mouseleave)="inCategories = false; hideCategories()" routerLink="/categories">Categories</a>
                </li>

            </ul>
            <ul fxLayout fxLayoutAlign="end" fxLayoutGap="20px" style="margin-right:10px;" class="navigation-items">
                <li>
                    <mat-icon routerLink="/search">search</mat-icon>
                </li>
                <li *appShowAuthed="false">
                    <button mat-raised-button (click)="openDialog('register')">Sign Up</button>
                </li>
                <mat-divider [vertical]="true"></mat-divider>
                <li *appShowAuthed="false">
                    <button mat-raised-button (click)="openDialog('login')">LogIn</button>
                </li>
                <li *appShowAuthed="true">
                    <a [routerLink]="['/profile', currentUser.username]"
                        [routerLink]="['/profile', currentUser.username]"
                        routerLinkActive="active">
                        <img id="ima" [src]="currentUser.image" *ngIf="currentUser.image" class="user-pic" />
                        {{ currentUser.username }}
                    </a>
                </li>
            </ul>
        </div>

    </mat-toolbar-row>
    <mat-toolbar-row  fxLayout="row" id="row2" (mouseover)="inCategories = true;showCategories()" (mouseleave)="inCategories = false; hideCategories()">
        <div class="dropdown-categories" (click)="hideCategories(); inCategories=false;">
                <a routerLink="/categories">Recipes</a>
                <a routerLink="/categories/Asian">Asian</a>
                <a routerLink="/categories/Asian">Breakfast</a>
                <a routerLink="/categories/Asian">One-Pot</a>
               
        </div>
        <div class="list"  fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="end">
            <ng-container *ngFor="let recipe of results" >
                <app-small-recipe-preview
                    [recipe] = "recipe">
                </app-small-recipe-preview>
            </ng-container> 
        </div>
        <div id="recipes" fxFlex fxLayout="row">
            
        </div>
    </mat-toolbar-row>
</mat-toolbar>
