

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    border: 0;
    cursor: pointer;
  }
  .btn-like{
    color: white;
    font-size: 25px;
    cursor: pointer;
    
  }
  .btn-play{
    color: white;
    font-size: 50px;
    cursor: pointer;
  }
  .footer-text{
    color: white;
    font-size: 20px;
    margin-left: 5px;
  }
  .preview-footer{
    width: 100%;
    height: 35%;
    height: 35%;
    border-radius: 15px;
    padding: 7px;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(250,250,250,0) 68%);
   }
  .preview-header{
    width: 100%;
    display: flex;
    padding: 7px;
    justify-content: flex-end;
    height: 35%;
    border-radius: 15px;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(250,250,250,0) 68%);
    }
  .card-recepie{
    
    height: 35vh;
    padding: 0;
    border-radius: 20px;
    border-radius: 20px;

    background-position: center;
    /* background-color: white; */
    background-size: cover;
    overflow: hidden;

  }
  .card-recepie:hover{
    transform: scale(1.1);
    transition: all .5s;
  }
  .cards-container{
    width: 100%;
    display: inline-block;
    float: none;
    
   /* height: 50vh;*/
  }
  .text-under{
    width: 90%;
    height: 15%;
    padding-top: 15px;
    font-weight: 500;
  }
  /* .img-food-preview{
    width: 100%;
    height: 100%;
    border-radius: 20px;
  } */

  .item {
    position: relative;

    border: 1px solid #333;
    margin: 2%;
    overflow: hidden;
    width: 540px;
  }
  .item img {
    max-width: 100%;

    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.5s;
  }
  .item:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
