<div class="test">
    <img id="image" [src]="currentUser.image" *ngIf="currentUser.image" class="user-pic" />
    <button mat-button (click)="openSettingsDialog()"> Settings </button>
    <mat-tab-group>
        <mat-tab label="Favorites"> 
            <div class="item-archive grid-list">
                <ng-container *ngFor="let recipe of favoritesRecipes">
                    <app-recipe-preview
                        style="padding-bottom: 50px;"
                        [recipe] = "recipe">
                    </app-recipe-preview>
                </ng-container> 
            </div>
    </mat-tab>
        <mat-tab label="Your Recipes"> 
            <div class="item-archive grid-list">
                    <ng-container *ngFor="let recipe of yourRecipes">
                        <app-recipe-preview
                            style="padding-bottom: 50px;"
                            [recipe] = "recipe">
                        </app-recipe-preview>
                    </ng-container> 
                </div>
        </mat-tab>
    </mat-tab-group>
</div>

