/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { 
    margin: 0;
    height: 100%;
}
mat-card {
    width: calc(75% - 16x);
    height: calc(75% - 16px);
  }
mat-card img{
    object-fit: cover; /*this makes de image in src fit to the size of specified below*/
    width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
    height: 100%;
  }
.mat-divider {
    border-color: white;
} 