/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";



html, body { 
    padding: auto;
}


.item-archive {
  display:grid;
  grid-template-columns: repeat(2,1fr);
  grid-column-gap: 1.1363666rem;
  grid-row-gap: 1rem;
  
}
@media (min-width: 350px){
  .item-archive {
      grid-column-gap: .75rem;
      grid-row-gap: 1.5rem;
  }
  }
@media (min-width: 430px){
.item-archive {
    grid-template-columns: repeat(3,1fr);
}
}
@media (min-width: 590px){
.item-archive {
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 1.1363666rem;
}
}

mat-card {
    width: calc(75% - 16x);
    height: calc(75% - 16px);
  }
mat-card img{
    object-fit: cover; /*this makes de image in src fit to the size of specified below*/
    width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
    height: 100%;
  }
  dialog { 
    border: none !important;
  }
  mat-dialog-content {
    overflow-y: hidden !important;
}
  .div {
      border: none;
  }
.mat-divider {
    border-color: white;
} 
