
.recipe-list {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: auto;
    margin-top: 50px;
    max-width: 55.5rem;
    width: 100%;
    padding: 0;
    top: 50px;
  }

.header-content {
  background-image: url(../../assets/search_back.jpg);
  background-repeat: no-repeat;
  margin-top: 50px;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  padding-top: 4.375rem;
  padding-bottom: 1.875rem;

  position: sticky;
  top: 0px;
}


.filters-bar{
  box-sizing: border-box;
  margin: auto;
  max-width: 55.5rem;
  
}

.fill-height-or-more{
  flex: column;
}