<div *ngIf="homeType=='/search'" class="search-container">
    <header>
      <div class="header-content">
        <h1>Find recipes</h1>
        <form class="search-bar" >
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Favorite food" (input)="onSearchChange($event.target.value)">
          </mat-form-field>
       </form>
      </div>
      <div class="filters-bar" fxLayout="row" fxLayoutAlign="center">
        <button  mat-button [matMenuTriggerFor]="menuCategory">Category</button>
        <button mat-button [matMenuTriggerFor]="menuTime">Preparation Time</button>
        <button mat-button [matMenuTriggerFor]="menuCuisine">Cuisine</button>
        <mat-menu #menuCategory="matMenu">
          <div *ngFor="let unit of categories[0];let i=index">
              <mat-checkbox  [(ngModel)]="unit.checked" (click)="onCheck($event,categories[0],unit,i)">{{ unit.name }}</mat-checkbox>
          </div>
        </mat-menu>
        <mat-menu #menuTime="matMenu">
            <div *ngFor="let unit of categories[1];let i=index">
                <mat-checkbox  [(ngModel)]="unit.checked" (click)="onCheck($event,1,unit,i)">{{ unit.name }}</mat-checkbox>
            </div>
        </mat-menu>
        <mat-menu #menuCuisine="matMenu">
            <div *ngFor="let unit of categories[2];let i=index">
                <mat-checkbox  [(ngModel)]="unit.checked" (click)="onCheck($event,categories[0],unit,i)">{{ unit.name }}</mat-checkbox>
            </div>
        </mat-menu>
     </div>
    </header>

   <!--  <div>
        <mat-icon>close</mat-icon>
     </div> -->
     
      <div class="item-archive grid-list">
          <ng-container *ngFor="let recipe of results" >
              <app-recipe-preview
              style="padding-bottom: 50px;"
                  [recipe] = "recipe">
              </app-recipe-preview>
          </ng-container> 
      </div>
     
</div>


<div class="grid-list" *ngIf="homeType!='/search'">
    <h1 class="main-headline">Recipes</h1>
    <div class="item-archive">
      <ng-container *ngFor="let recipe of results" >
          <app-recipe-preview
              [recipe] = "recipe">
          </app-recipe-preview>
      </ng-container> 
    
    </div>
</div>

<button *ngIf="showMoreButton" class="button item-archive" mat-button (click)="onMore()">More</button>

